/* Editor and front-end styles */
.book-review-block {
	overflow: hidden;

	&.has-background {
		padding: 20px 30px;
	}

	.book-review-block__cover-wrapper {
		float: left;
		margin: 0 1.5em 1.5em 0;
		max-width: 50%;
	}

	.book-review-block__cover {
		max-width: 100%;
		box-shadow: 5px 5px 20px #333;
	}

	.book-review-block__details > span {
		display: block;
	}

	/* Rating */
	.book-review-block__rating-button {
		display: inline-flex;
		margin-right: 0.3em;

		// Mimic core focus style.
		border-radius: 4px;

		&:focus {
			box-shadow: 0 0 0 1px currentColor;

			// Provide focus style for Windows 10 High Contrast mode.
			outline: 2px solid transparent;
		}
	}

	// There are two stars in every whole star, but they should be cropped as halves.
	.book-review-block__rating-button span,
	.book-review-block__review-rating > span span {
		flex-shrink: 0;
		width: 12px;
		overflow: hidden;
		display: inline-flex;
	}

	.book-review-block__rating-button span svg,
	.book-review-block__review-rating > span span svg {
		flex-shrink: 0;
	}

	// Tweak 2nd half of star.
	.book-review-block__rating-button span:nth-child(even),
	.book-review-block__review-rating > span span:nth-child(even) {
		justify-content: flex-end;
	}

	.book-review-block__review-rating > span {
		display: inline-flex !important;
	}

	.is-rating-unfilled {
		fill-opacity: 0;
		stroke-width: 2px;
	}

	/* Deprecated CSS */
	.book-review-block__rating:not(.book-review-block__review-rating) {
		unicode-bidi: bidi-override;
		direction: rtl;
		text-align: left;
	}

	.book-review-block__rating:not(.book-review-block__review-rating) > span {
		display: inline-block;
		position: relative;
		width: 1.0em;
		color: #EBA845;
		font-size: 20px;
	}

	.book-review-block__rating:not(.book-review-block__review-rating) > span.on:before {
		content: "\2605";
		position: absolute;
	}
}
