.book-review-block {
	.block-editor-block-list__block {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.book-review-block__rating-button {
	cursor: pointer;
}

.book-review-block__rating-button {
	&:focus {
		border: none;
		outline: none;
	}
}

.wp-block[data-type="book-review-block/book-review"] .components-placeholder__instructions .components-external-link {
	display: inline-block;
	margin: 1em auto;
	text-decoration: none;
}

.book-review-block__save-api-key {
	margin-bottom: 0;
}

.book-review-block__sidebar-notice {
	margin: 0 0 10px;
}
